<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <img src="http://k.zol-img.com.cn/sjbbs/7692/a7691515_s.jpg" alt="">
    </div>
    <div>
        <div>
            <div style="background-color: aqua;width: 30%;height:200px;float:left"></div>
            <a href="www.baidu.com"><div style="background-color: yellow;width:70%;height: 200px;float:right"></div></a>
        </div>
    </div>
    <div>
        <div>
            <div style="background-color: black;width: 30%;height:200px;float:left"></div>
            <div style="background-color: red;width:70%;height: 200px;float:right"></div>
        </div>
    </div>
    <div>
        <div>
            <div style="background-color: blue;width: 30%;height:200px;float:left"></div>
            <div style="background-color: gray;width:70%;height: 200px;float:right"></div>
        </div>
    </div>
    <div>
        <div>
            <div style="background-color: sandybrown;width: 30%;height:200px;float:left"></div>
            <div style="background-color: mediumaquamarine;width:70%;height: 200px;float:right"></div>
        </div>
    </div>
</body>
</html>